#
# The Percona XtraDB Cluster 5.7 configuration file.
[mysqld]
sql-mode="STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION"
wsrep_provider=/usr/lib64/galera3/libgalera_smm.so
wsrep_cluster_name=perconacluster
wsrep_cluster_address=gcomm://192.168.11.8,192.168.11.9,192.168.11.10,192.168.11.11
wsrep_node_name={{ node_name }}
wsrep_node_address={{ current_node }}
wsrep_sst_method=xtrabackup-v2
wsrep_sst_auth=perconarep:12345678
pxc_strict_mode=PERMISSIVE
binlog_format=ROW
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2




