! Configuration File for keepalived
global_defs {
   router_id uBACKUP
}

vrrp_instance VI_1 {
    state BACKUP
    interface eth1
    virtual_router_id 230
    priority 100                        
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ keepalived_pass }}              
    }


   virtual_ipaddress {
       {{ keepalived_ip }}/32 dev eth1 label eth1:0
    }
}
