! Configuration File for keepalived
global_defs {
   router_id uMASTER
}

vrrp_instance VI_1 {
    state MASTER
    interface eth1
    virtual_router_id 230
    priority 101                        # PAY ATTENTION ON PRIORITY!!
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ keepalived_pass }}             #changepass if need
    }


   virtual_ipaddress {
       {{ keepalived_ip }}/32 dev eth1 label eth1:0
    }
}

